@model IEnumerable<WebbyMyself.Models.ClassManage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/site.css"> 
<link rel="script" href="~/js/site.js">
<script src="~/lib/font-awesome/js/all.js"></script>
<link href="~/lib/font-awesome/css/all.css"/>

<h1 class="title">Thông tin lớp</h1>

<table class="table">
    <thead>
        <tr style="height:auto">
            <th>
                ID
            </th>
            <th>
                Tên lớp
            </th>
            <th>
                Ngành
            </th>
            <td align="right">
                <a class="btn btn-primary my-4 addBtnPosition" asp-action="Create">Thêm lớp học</a>
            </td>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr class="align-middle">
            <td width="5%">
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchName)
            </td>
            <td class="d-flex flex-row justify-content-end">
                <a class="btn btn-success " title="Sửa" asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-pen"></i> Sửa</a> 
                <a class="btn btn-info mx-2 " asp-action="Details" asp-route-id="@item.ID"><i class="fa fa-eye"></i> Xem</a> 
                <a class="btn btn-danger " asp-action="Delete" asp-route-id="@item.ID"><i class="fa fa-trash"></i> Xóa</a>
            </td>
        </tr>
    }
    </tbody>
</table>
